body.dark-mode {
  background-color: #272b30;
  color: #fff;
}

body.dark-mode .navbar  .navbar-light .navbar-brand {
  background-color: #343a40;
}
body.dark-mode .navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show > .nav-link {
	color: rgba(255, 255, 255, 0.9);
}

body.dark-mode .navbar-light .navbar-brand {
	color: rgba(255, 255, 255, 0.9);
}

body.dark-mode .btn-primary {
  background-color: #007bff;
  border-color: #007bff;
}

/* Add styles for number inputs */
body.dark-mode input[type="number"] {
  background-color: #495057; /* Dark grey */
  color: #fff; /* White text */
  border-color: #ced4da; /* Light grey border */
}

/* Add styles for list-groups */
body.dark-mode .list-group-item {
  background-color: #495057; /* Dark grey */
  color: #fff; /* White text */
}

/* Add other styles as needed */